#{field 'object.' + _name}
<div class="control-group #{ifError field.name}error#{/ifError}">
    
    <label class="control-label" for="${field.id}">&{_name}</label>
    
    <div class="controls">
    	<textarea id="${field.id}" cols="48" rows="5" class="${field.errorClass} span6" name="${field.name}">${params[field.name]?.escape()?.raw() ?: field.error?.message == 'validation.required' ? '' : _value?.escape()?.raw()}</textarea>
    </div>
    #{ifError field.name}
        <span class="help-inline">${field.error.raw()}</span>
    #{/ifError}
</div>
#{/field}
